body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-repeat: repeat-y;
	background-color: #FFF8E8;
	background-image:    url("images/block.jpg");

	SCROLLBAR-FACE-COLOR: #C987CE; 
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; 
	SCROLLBAR-SHADOW-COLOR: #0099ff; 
	SCROLLBAR-3DLIGHT-COLOR: #0099ff; 
	SCROLLBAR-ARROW-COLOR: #FFFF01; 
	SCROLLBAR-TRACK-COLOR: #FFFF01; 
	SCROLLBAR-DARKSHADOW-COLOR: #0099ff;
}
.style2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 36px;
	color: #882288;
	font-weight: bold;
}
.style5 { 
	font-family: Georgia, "Times New Roman", Times, serif; 
	font-size: 18px;
}
.style6 {
	font-size: 24px;
	font-weight: bold;
}
.style7 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #882288;
	font-weight: bold;
}a:link {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: normal;
	color: #882288;
	text-decoration: none;
	font-style: italic;
}
a:visited {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: normal;
	color: #882288;
	text-decoration: none;
	font-style: italic;
}
a:hover {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: normal;
	color: #882288;
	text-decoration: underline;
	font-style: italic;
}
a:active {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: normal;
	color: #882288;
	text-decoration: none;
	font-style: italic;
}
.note {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	color: #333333;
	font-weight: bold;
}
.style8 {	line-height: 28px;
}
